@model PUAM_1.Models.Registro
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>KidKinder - Kindergarten Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Handlee&family=Nunito&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Flaticon Font -->
    <link href="lib/flaticon/font/flaticon.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <!-- REFERENVIA AL CSS-->
    <link href="~/css/contenidoa.css" rel="stylesheet" />
    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Navbar Start -->
    <div class="container-fluid bg-light position-relative shadow">
        <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0 px-lg-5">
            <a href="" class="navbar-brand font-weight-bold text-secondary" style="font-size: 50px;">
                <i class="flaticon-043-teddy-bear"></i>
                <span class="text-primary">KidKinder</span>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav font-weight-bold mx-auto py-0">
                    <a class="nav-item nav-link" @Html.ActionLink("Inicio", "ContenidoE", "Estudiante") </a>
                    <a class="nav-item nav-link" @Html.ActionLink("Registrar", "Registro", "Estudiante") </a>
                </div>
                <a class="btn btn-primary px-4" @Html.ActionLink("SALIR", "Salir", "Estudiante") </a>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->
    <!-- Header Start -->
    <div class="container-fluid bg-primary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
            <h3 class="display-3 font-weight-bold text-white">Registrar Actividades</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0"><a class="text-white" href="">Home</a></p>
                <p class="m-0 px-2">/</p>
                <p class="m-0">Our Classes</p>
            </div>
        </div>
    </div>
    <!-- Header End -->
    <!-- Registration Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 mb-4 mb-lg-0">
                    <p class="section-title pr-5"><span class="pr-2">Registro Actividad</span></p>
                    <h1 class="mb-4">Actividades Realizadas</h1>
                    <p>
                        Ingrese la información necesaria para realizar el registro
                        sobre las actividades realizadas con el adulto a su cargo
                    </p>
                    <ul class="list-inline m-0">
                        <li class="py-2"><i class="fa fa-check text-success mr-3"></i>Revise la información ingresada</li>
                        <li class="py-2"><i class="fa fa-check text-success mr-3"></i>Asegurece de ingresar correctamente los números de cédula</li>
                        <li class="py-2"><i class="fa fa-check text-success mr-3"></i>Revice las faltas ortográficas</li>
                    </ul>

                </div>
                <div class="col-lg-6">
                    <div class="card border-1">
                        <div class="card-header bg-secondary text-center p-4">
                            <h1 class="text-white m-0">Registro</h1>
                        </div>
                        <div class="card-body rounded-bottom bg-primary p-5">
                            <form action="@Url.Action("Registro","Estudiante")" method="post">
                                <!--Inicio Registro-->
                                <div class="form-group">
                                    <label asp-for="CedulaEstudiante" class="control-label"></label>
                                    <input asp-for="CedulaEstudiante" class="form-control" placeholder="Cédula del Estudiante" />
                                    <span asp-validation-for="CedulaEstudiante" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Fecha" class="control-label"></label>
                                    <input asp-for="Fecha" class="form-control" />
                                    <span asp-validation-for="Fecha" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="NumeroHoras" class="control-label"></label>
                                    <input asp-for="NumeroHoras" class="form-control" placeholder="Número de horas" />
                                    <span asp-validation-for="NumeroHoras" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CedulaAdulto" class="control-label"></label>
                                    <input asp-for="CedulaAdulto" class="form-control" placeholder="Cédula del Adulto a cargo" />
                                    <span asp-validation-for="CedulaAdulto" calss="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Evidencia" class="control-label"></label>
                                    <input asp-for="Evidencia" class="form-control" placeholder="Evidencia" />
                                    <span asp-validation-for="Evidencia" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Observaciones" class="control-label"></label>
                                    <input asp-for="Observaciones" class="form-control" placeholder="Observaciones" />
                                    <span asp-validation-for="Observaciones" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-secondary btn-block border-0 py-3" type="submit">Registrar</button>
                                    <a asp-action="ContenidoE">Regresar</a>
                                </div>
                                <!--Fin Registro-->
                                <!--Mensjae de Error-->
                                @if (ViewData["Mensaje"] != null)
                                {
                                    <div class="alert alert-danger" role="alert">
                                        @ViewData["Mensaje"]
                                    </div>
                                }
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Registration End -->
    <!-- Footer Start -->
    <div class="container-fluid bg-secondary text-white mt-5 py-5 px-sm-3 px-md-5">
        <div class="row pt-3">
            <div class="col-lg-4 col-md-7 mb-6">
                <a href="" class="navbar-brand font-weight-bold text-primary m-0 mb-4 p-0" style="font-size: 40px; line-height: 40px;">
                    <i class="flaticon-043-teddy-bear"></i>
                    <span class="text-white">Proyecto PUAM</span>
                </a>
                <p>
                    Información general de lo que es el programa y
                    links para las redes sociales (Opcional).
                </p>
                <div class="d-flex justify-content-start mt-4">
                    <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                       style="width: 38px; height: 38px;" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                       style="width: 38px; height: 38px;" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                       style="width: 38px; height: 38px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                       style="width: 38px; height: 38px;" href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-7 mb-6">
                <h3 class="text-primary mb-4">Contactos</h3>
                <div class="d-flex">
                    <h4 class="fa fa-map-marker-alt text-primary"></h4>
                    <div class="pl-3">
                        <h5 class="text-white">Dirección</h5>
                        <p>Av. Universitaria, Quito 170129</p>
                    </div>
                </div>
                <div class="d-flex">
                    <h4 class="fa fa-envelope text-primary"></h4>
                    <div class="pl-3">
                        <h5 class="text-white">Email</h5>
                        <p>info@example.com</p>
                    </div>
                </div>
                <div class="d-flex">
                    <h4 class="fa fa-phone-alt text-primary"></h4>
                    <div class="pl-3">
                        <h5 class="text-white">Phone</h5>
                        <p>+012 345 67890</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-7 mb-6">
                <h3 class="text-primary mb-4">Links Relacionados</h3>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Home</a>
                    <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>About Us</a>
                    <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Our Classes</a>
                    <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Our Teachers</a>
                    <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Our Blog</a>
                    <a class="text-white" href="#"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                </div>
            </div>

        </div>
        <div class="container-fluid pt-5" style="border-top: 1px solid rgba(23, 162, 184, .2);;">
            <p class="m-0 text-center text-white">
                &copy; <a class="text-primary font-weight-bold" href="#">Copyright</a>. Todos los derechos reservados xD
                by
                <a class="text-primary font-weight-bold" href="https://htmlcodex.com">HTML Codex</a>
            </p>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary p-3 back-to-top"><i class="fa fa-angle-double-up"></i></a>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>

</html>